body{
    margin:0;

}

#svg, #text{
    position:fixed;
    top:0;
    right:0;
    left:0;
    color: white
}

#text, #click2cont{
    margin-right:0;
    margin-left:0;
    font-size:5vw;
    text-align: center;
    z-index: -1;
}

#viewbox{
    position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

}



#click2cont{
    position: absolute;
    left: 50%;
    height: 3vw;
    font-size:3vw;

transform: translate(-50%, -50%);
        bottom: 0;
    color: white

}